<form method="post" action="{{ path('articles_delete', {'id': article.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer l'article ?');">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
	<button class="btn">Supprimer</button>
</form>
