{% extends 'base.html.twig' %}

{% block title %}Modification articles
{% endblock %}

{% block body %}
	<h1>Modification articles</h1>

	{{ include('articles/_form.html.twig', {'button_label': 'Modifier'}) }}

	<a href="{{ path('articles_index') }}">Retour</a>

	{{ include('articles/_delete_form.html.twig') }}
{% endblock %}
