{% extends 'base.html.twig' %}

{% block title %}Articles
{% endblock %}

{% block body %}
	<h1>Articles</h1>

	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Description</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for article in articles %}
				<tr>
					<td>{{ article.id }}</td>
					<td>{{ article.Title }}</td>
					<td>{{ article.description }}</td>
					<td>
						<a href="{{ path('articles_show', {'id': article.id}) }}">Voir</a>
						<a href="{{ path('articles_edit', {'id': article.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">Aucun résultat</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('articles_new') }}">Nouveau</a>
{% endblock %}
