{% extends 'base.html.twig' %}

{% block title %}Nouvel article
{% endblock %}

{% block body %}
	<h1>Nouvel article</h1>

	{{ include('articles/_form.html.twig') }}

	<a href="{{ path('articles_index') }}">Retour</a>
{% endblock %}
