{% extends 'base.html.twig' %}

{% block title %}Articles
{% endblock %}

{% block body %}
	<h1>Articles</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>ID</th>
				<td>{{ article.id }}</td>
			</tr>
			<tr>
				<th>Title</th>
				<td>{{ article.Title }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ article.description }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('articles_index') }}">Retour</a>

	<a href="{{ path('articles_edit', {'id': article.id}) }}">Modifier</a>

	{{ include('articles/_delete_form.html.twig') }}
{% endblock %}
